<button [ngClass]="refreshScoreClasses" (click)="refreshScores()">
  Refresh Scores
</button>

<div class="ui segments" *ngIf="gameService.scores">
  <div class="ui horizontal segments">
    <div class="ui segment" *ngFor="let hole of get3Holes(1)">
      {{hole.hole}}
      <div *ngFor="let score of hole.scores">
        {{score.user}} : {{score.score}}
      </div>
    </div>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment" *ngFor="let hole of get3Holes(4)">
      {{hole.hole}}
    </div>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment" *ngFor="let hole of get3Holes(7)">
      {{hole.hole}}
    </div>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment" *ngFor="let hole of get3Holes(10)">
      {{hole.hole}}
    </div>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment" *ngFor="let hole of get3Holes(13)">
      {{hole.hole}}
    </div>
  </div>
  <div class="ui horizontal segments" *ngFor="let hole of get3Holes(16)">
    <div class="ui segment" *ngFor="let hole of get3Holes(16)">
      {{hole.hole}}
    </div>
  </div>
</div>  