<div *ngIf="gameService.scores">
  <p>Leaderboard:</p>
  <p *ngFor="let u of leaderBoard()">{{u.user}}: {{u.score}}</p>
</div>
<div class="ui segments" *ngIf="gameService.scores">
  
  
  <div class="ui horizontal segments">
    <div class="ui segment bottom" *ngFor="let hole of get3Holes(1)" (click)="selectHole(hole.hole)" [ngClass]="isHoleSelectedStyle(hole)">
      <div>
        {{hole.hole}}
        <div *ngFor="let score of hole.scores">
          {{score.user}} : {{score.score}}          
        </div>
      </div>
    </div>
  </div>
  <div class="ui horizontal segments" *ngIf="anyHoleSelected([1, 2, 3, 4, 5, 6])">
    <input-score style="width: 100%" (scoreSaved)="saveScore($event)"></input-score>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment" *ngFor="let hole of get3Holes(4)" (click)="selectHole(hole.hole)" [ngClass]="isHoleSelectedStyle(hole)">
      <div>
        {{hole.hole}}
        <div *ngFor="let score of hole.scores">
          {{score.user}} : {{score.score}}
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal segments">
    <div class="ui segment bottom" *ngFor="let hole of get3Holes(7)" (click)="selectHole(hole.hole)" [ngClass]="isHoleSelectedStyle(hole)">
      <div>
        {{hole.hole}}
        <div *ngFor="let score of hole.scores">
          {{score.user}} : {{score.score}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui horizontal segments" *ngIf="anyHoleSelected([7, 8, 9, 10, 11, 12])">
    <input-score style="width: 100%" (scoreSaved)="saveScore($event)"></input-score>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment" *ngFor="let hole of get3Holes(10)" (click)="selectHole(hole.hole)" [ngClass]="isHoleSelectedStyle(hole)">
      <div>
        {{hole.hole}}
        <div *ngFor="let score of hole.scores">
          {{score.user}} : {{score.score}}
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal segments">
    <div class="ui segment bottom" *ngFor="let hole of get3Holes(13)" (click)="selectHole(hole.hole)" [ngClass]="isHoleSelectedStyle(hole)">
      <div>
        {{hole.hole}}
        <div *ngFor="let score of hole.scores">
          {{score.user}} : {{score.score}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui horizontal segments" *ngIf="anyHoleSelected([13, 14, 15, 16, 17, 18])">
    <input-score style="width: 100%" (scoreSaved)="saveScore($event)"></input-score>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment" *ngFor="let hole of get3Holes(16)" (click)="selectHole(hole.hole)" [ngClass]="isHoleSelectedStyle(hole)">
      <div>
        {{hole.hole}}
        <div *ngFor="let score of hole.scores">
          {{score.user}} : {{score.score}}
        </div>
      </div>
    </div>
  </div>

</div>  
<sm-button *ngIf="!refreshing" class="mini teal" (click)="refreshScores()">
  <i class="refresh icon"></i>Refresh
</sm-button>
<sm-button *ngIf="refreshing" class="mini teal loading" (click)="refreshScores()">
  <i class="refresh icon"></i>Refresh
</sm-button>