<div *ngIf="displayLeaderBoard()" class="ui segment bottom hole-card" style="padding: 0em;">
  <div style="padding: 0.2em;" class="leaderboard-heading">Leaderboard</div>
  <div style="padding: 1em;">
    <!--<p>{{leaderBoard()}}</p>-->
    <div *ngFor="let leader of leaderBoard()">
      <div class="user-score">
        <span class="user">{{leader.user}}</span>
        <span class="score">{{leader.score}}</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="gameService.scores">  
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[0]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[1]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[2]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[3]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[4]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[5]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[6]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[7]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[8]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[9]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[10]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[11]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[12]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[13]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[14]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[15]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[16]"></hole-display>
  <hole-display style="width: 33.33%" [gameId]="gameId" [hole]="holes[17]"></hole-display>
</div>