<div class="ui segment bottom hole-card" style="padding: 0em;" (click)="selectHole()" [ngClass]="isHoleSelectedStyle()">
  <div style="padding: 1em 1em 0 1em;">
    <div class="hole">{{hole}}</div>
    <div *ngFor="let score of getScores()">
      <div class="user-score">
        <span class="user">{{score.user}}</span>
        <span class="score">{{score.score}}</span>
      </div>
    </div>
    <div *ngIf="!scores || scores.length == 0">
      &nbsp;
    </div>
  </div>
  <score-input style="width: 100%;" *ngIf="isHoleSelected()" [hole]="selectedHole" [margin]="!scores || scores.length == 0" (scoreSaved)="saveScore($event)"></score-input>
</div>
