<player-select></player-select>
<div class="container-fluid">
  <div class="main ui container">
    <div class="full height">  
      <div *ngIf='gameId'>
        <game-display [gameId]="gameId"></game-display>
      </div>
      <div *ngIf='!gameId'>
        <p>Hey there<span *ngIf="currentName()">, {{currentName()}}</span>!</p>
        <p *ngIf="!currentName()">Click 'Who are you?' to enter your name.</p>
        <p>Click 'Start Game' to setup a new round of golf!</p>
      </div>
    </div>
  </div>
</div>