<div class="ui fixed large menu" style="min-height: 56px">
  <div class="left item">
    Welcome to Golf!
  </div>

  
  <div *ngIf='!isThereACurrentName()' class="right item">
    <div class="ui input action right">
      <input *ngIf='!isThereACurrentName()' [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" placeholder="Your name is..." />
      <div class="ui button" *ngIf='!isThereACurrentName()' (click)="submitName()">Go</div>
    </div>
  </div>
  <div *ngIf="isThereACurrentName()" class="right item">
    <div *ngIf="isThereACurrentName()">Welcome {{ currentName() }}</div>
  </div>
  <div *ngIf="isThereACurrentName()" class="right item">    
    <div *ngIf="isThereACurrentName()" (click)="clearCurrentName()">Not {{ currentName() }}?</div>   
  </div>
</div>